/*criação de fonte*/

@font-face {
    font-family: font-dk;
    src: url('./fontes/Guardians.ttf') format('truetype');
}

/*Geral*/
body,
html {
    height: 100%;
    margin: 0;
    margin-top: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: auto;
    text-align: center;
}

.container section {
    width: 1728px;
    height: 1117px;
    margin-bottom: 120px;

}

.titulo h1 {
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*Pagina 1 */
.page1 {
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25) inset;
    background: #D9D9D9;
    background: url(../res/geral/fundo-titulo.png), lightgray -1.783px 9.375px / 98.651% 97.953% no-repeat;
    margin-top: 80%;
    margin-bottom: 5%;
}

.page1 .titulo h1 {
    margin-top: -300px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'font-dk';
    font-size: 200px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    backdrop-filter: blur(0px);
}


.page1 .icone {
    width: 702px;
    height: 825px;
    background: url(../res/geral/icone.png), rgba(211, 211, 211, 0) -1.783px 9.375px / 98.651% 97.953% no-repeat;
    flex-shrink: 0;
}


/*Pagina 2 */
.page2 {
    display: flex;
    overflow: hidden;
    background: #89aab873;
}

.page2 .sobre {
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;
}

.page2 .sobre h1 {
    width: 500px;
    height: 59px;
    flex-shrink: 0;
    color: #000;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.page2 .sobre p {
    width: 802px;
    height: 124px;
    flex-shrink: 0;
    color: #171212;
    font-family: Abel;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page2 .sobre span {
    font-family: Abel;
    font-size: 28px;
    font-weight: 600;
}

.page2 .img-astronauta {
    width: 782px;
    height: 1100px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    background: url(../res/geral/astronauta.png), lightgray 0px -189.667px / 103.453% 134.43% no-repeat;
    background-size: cover;
    flex-shrink: 0;
    margin-left: 55%;
}

.page2 .fundamentos {
    display: flex;
    margin-left: 35px;
}

.fundamentos .found {
    width: 230px;
    height: 300px;
    background: #0b1535c2;
    margin-left: 20px;
    font-size: 1px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.534);
    border-radius: 5px;

}

/* missao */
.fundamentos .mission h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}

.fundamentos .mission p {
    width: 230px;

    font-size: 15px;
    color: white;
}

.fundamentos .img-mission {
    width: 150px;
    height: 150px;
    margin-top: -80px;
    margin-left: 40px;
    background: url('../res/geral/missão.jfif');
    background-size: cover;
    border-radius: 100%;

}


/* visão */
.fundamentos .vision p {
    width: 230px;
    font-size: 15px;
    color: white;
}

.fundamentos .vision h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}

.fundamentos .img-vision {
    width: 150px;
    height: 150px;
    margin-top: -80px;
    margin-left: 40px;
    background: url(../res/geral/vision.png);
    background-size: cover;
    border-radius: 100%;
}


/* valores */
.fundamentos .values p {
    width: 230px;
    font-size: 15px;
    color: white;
}

.fundamentos .values h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}


.fundamentos .img-values {
    width: 150px;
    height: 150px;
    margin-top: -80px;
    margin-left: 40px;
    background: url(../res/geral/valores.webp);
    background-size: cover;
    border-radius: 100%;
}




/* paixão */
.fundamentos .paixao p {
    width: 230px;
    font-size: 15px;
    color: white;
}

.fundamentos .img-paixao {
    width: 150px;
    height: 150px;
    margin-top: -80px;
    margin-left: 40px;
    background: url(../res/geral/paixao.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.fundamentos .paixao h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}


/* razão */
.fundamentos .razao p {
    width: 230px;
    font-size: 15px;
    color: white;
}

.fundamentos .img-razao {
    width: 150px;
    height: 150px;
    margin-top: -80px;
    margin-left: 40px;
    background: url(../res/geral/razao.webp);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.fundamentos .razao h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}


/* proposito */
.fundamentos .proposito p {
    width: 230px;
    font-size: 15px;
    color: white;
}

.fundamentos .img-proposito {
    width: 150px;
    height: 150px;
    margin-top: -80px;
    margin-left: 40px;
    background: url(../res/geral/proposito.jfif);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.fundamentos .proposito h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}


.fundamentos .img-astronauta {
    width: 700px;
    height: 500px;
    margin-top: -38rem;

    position: absolute;
    background: url(../res/geral/astronauta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*Pagina 3*/

.page3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(../res/projeto-1/meio-ambiente.webp), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.page3 .report1 {
    margin-top: 200px;
    margin-left: -10%;
    width: 800px;
    height: 300px;
    background: url(../res/whi/noticia-incentivo.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.page3 .report2 {
    width: 572px;
    height: 366px;
    background: url(../res/whi/noticia-arcelor.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.page3 .report3 {
    width: 698px;
    height: 276px;
    border-radius: 15px;
    background: url(../res/whi/noticia-incentivo1.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}


.page3 .titulo h1 {
    width: 950px;
    height: 75px;
    flex-shrink: 0;
    color: #0f0d0d;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


/*Page 4*/

.page4 {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #FFF;
    background-image: url(../res/empresas/tc-human.jpg);
}

.page4,
.setor1,
.setor2,
.setor3 {
    margin-top: 20px;

}

.page4 .setor1 {

    width: 530px;
    height: 1037px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.50);
    background: #b6ccf859;
    flex-shrink: 0;
    margin-left: 2%;
}

.setor1 h1 {
    width: 416px;
    height: 71px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 20%;
}

.setor2 h1 {
    width: 416px;
    height: 71px;
    flex-shrink: 0;
    color: #ece3e3;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 20%;
}

.setor3 h1 {
    width: 416px;
    height: 71px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 20%;
}

.setor1 h3 {
    color: rgb(28, 26, 26);
}

.page4 .setor2 {
    width: 530px;
    height: 1037px;
    border: 5px solid rgba(1, 16, 47, 0.79);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.50);
    background: #b6ccf88e;
    flex-shrink: 0;
    margin-left: 2%;


}

.page4 .box h3 {
    width: 416px;
    margin-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 5px;


}

.page4 .box h3:hover {
    background-color: #b6ccf859;
}

.page4 .setor3 {

    width: 529px;
    height: 1037px;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.50);
    background: rgba(172, 172, 173, 0.487);
    flex-shrink: 0;
    margin-left: 2%;

}


/*Pagina 5*/

.page5 {
    display: flex;
    flex-direction: row;
    background: url(../res/governança/fundoGov.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.page5 .gov {
    width: 640px;
    height: 975px;
    border-radius: 15px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 20px 0px rgba(0, 0, 0, 0.30);
    background: #1E1E1E;
    flex-shrink: 0;
    margin-right: 5px;
    margin-left: 8%;
    margin-top: 15px;
}

.page5 h1 {
    font-size: 40px;
}

.page5 h4 {
    font-size: 30px;
}


.gov .equipe .pessoal {
    display: flex;
    color: white;
    margin-bottom: 10px;
}

.equipe .user {
    width: 100px;
    height: 100px;
    background: url(../res/governança/user-default.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 10%;
    z-index: 0;
}

.equipe .pessoal .funcao {
    margin-top: 8%;
    margin-left: 30px;
}

.pessoal .funcao span {

    padding-left: 90px;
    padding-right: 0;
    padding-bottom: 10px;
    margin-left: -80px;
    font-size: 27px;
    color: rgb(213, 202, 131);
    z-index: 1;
}

.page5 .funcao p {
    font-size: 20px;
}

.gov .gestor {
    color: white;
}


.page5 .Oscar {
    display: flex;
}

.page5 .oscar .user {
    width: 100px;
    height: 100px;
    background: url(../res/governança/user-default.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

/*page6*/

.page6 {
    display: flex;
    background: url(../res/metas/fundoprojeção.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;

}


.page6 .time {
    width: 500px;
    height: 957px;
    margin-top: 5%;
    margin-left: 3%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #01102F 0%, rgba(1, 16, 47, 0.801) 42.36%, rgba(1, 16, 47, 0.70) 65.30%, rgba(1, 16, 47, 0.79) 97.92%);
    flex-shrink: 0;
    color: white;
}


.page6 .time .titulo {
    width: 250px;
    border-radius: 5px;
    background-color: #FB9804;
    flex-shrink: 0;
    margin-left: 25%;
    margin-bottom: 100px;
    ;
}

.time .titulo h1 {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;

}

.page6 .projetos {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 50px;

}

.page6 .projetos h3 {
    font-size: 25px;
}

/*ano 1*/
.ano1 .projetos .imagem1 {
    width: 120px;
    height: 120px;
    background: url(../res/metas/quedazero.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
}

.ano1 .projetos .imagem2 {
    width: 120px;
    height: 120px;
    background: url(../res/metas/sdo.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
}

.ano1 .projetos .imagem3 {
    width: 120px;
    height: 120px;
    background: url(../res/metas/equipe-agil.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
}

/*ano 2*/
.ano2 .projetos .imagem1 {
    width: 120px;
    height: 120px;
    background: url(../res/metas/espaço.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
}

.ano2 .projetos .imagem2 {
    width: 120px;
    height: 120px;
    background: url(../res/metas/sds.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
}

.ano2 .projetos .imagem3 {
    width: 120px;
    height: 120px;
    background: url(../res/metas/pulse.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
}

/*ano 3*/
.ano3 .projetos .imagem1 {
    width: 120px;
    height: 120px;
    background: url(../res/metas/software-propietario.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
}

.ano3 .projetos .imagem2 {
    width: 120px;
    height: 120px;
    background: url(../res/metas/expand.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
}

.ano3 .projetos .imagem3 {
    width: 120px;
    height: 120px;
    background: url(../res/metas/plataforma-cursos.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
    flex-shrink: 0;
}

.projetos {

    margin-top: 100px;
}

.projetos .descricao {
    margin-left: 20px;
    margin-top: 30px;
}


/*pagina 7*/
.page7 {
    background: url(../res/layout/fundo_espaço.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.page7 .titulo {
    width: 700px;
    height: 69px;
    flex-shrink: 0;
    color: #000;
    font-family: Post No Bills Jaffna ExtraBold;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.page7 .locais {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;

}

.page7 .space {
    width: 423px;
    height: 344px;

    margin-top: 25%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.30);
    background: #FFF;
    flex-shrink: 0;
}


/*local 1*/
.page7 .sala1 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/pesquisa-inovação.jpg), lightgray 50%;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page7 .sala1 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/layout/pesquisa.png), lightgray 50% / no-repeat;
    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}

/*local 2*/
.page7 .sala2 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/sala-colaborativa-de-soft.jpg), lightgray 50%;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page7 .sala2 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}

/*local 3*/
.page7 .sala3 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/focus.jpg), lightgray 50%;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page7 .sala3 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}


/*local 4*/
.page7 .sala4 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/descanso.jpeg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page7 .sala4 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}


/*local 5*/
.page7 .sala5 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/dikma-tec.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page7 .sala5 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;

    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}


/*local 6*/
.page7 .sala6 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/design-thinking.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page7 .sala6 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;

    background-position: 50%;
    background-size: 200%;
    flex-shrink: 0;
}


.page7 .local {
    margin-left: 11%;
    margin-top: 10%;
}

.page7 .space .nome {
    width: 379px;
    height: 50px;
    flex-shrink: 0;
    color: #000;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}


.page7 .exibir {
    display: none;
    position: absolute;
    background-color: rgba(123, 134, 187, 0.871);
    margin-top: 150px;
    margin-left: -90px;
    width: 100%;
    height: 90%;
}

.exibir h5 {

    width: 100px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid rgb(238, 133, 133);
    background-color: white;
    cursor: pointer;
}

.exibir .imagem {

    width: 800px;
    height: 600px;
    margin-left: 25%;

}


/*página 8*/
.page8 {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #a6d3f1;
}

.page8 .produto {
    margin-top: 100px;
    width: 536px;
    height: 886px;
    border-radius: 15px 0px 0px 15px;
    margin-left: 2%;
    flex-shrink: 0;
}

.page8 .nowast {
    width: 536px;
    height: 886px;
    border-radius: 15px 0px 0px 15px;
    background: url(../res/geral/queda.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.page8 .nowast:hover {
    width: 536px;
    height: 886px;
    border-radius: 15px 0px 0px 15px;
    background: url(../res/geral/queda.png), lightgray 50% / cover no-repeat;
    background-position: 50%;
    background-size: 102%;
    flex-shrink: 0;
}

.page8 .sdo {
    width: 536px;
    height: 886px;
    border-radius: 15px 0px 0px 15px;
    background: url(../res/geral/sdo.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.page8 .sdo:hover {
    width: 536px;
    height: 886px;
    border-radius: 15px 0px 0px 15px;
    background: url(../res/geral/sdo.png), lightgray 50% / cover no-repeat;
    background-position: 50%;
    background-size: 102%;
    flex-shrink: 0;
}

.page8 .pulse {
    width: 536px;
    height: 886px;
    border-radius: 15px 0px 0px 15px;
    background: url(../res/geral/pulse.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.page8 .titulo {

    width: 517px;
    height: 71px;
    flex-shrink: 0;
    color: #000;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-top: 120%;
}

.page8 .titulo a {
    width: 517px;
    height: 71px;
    text-decoration: none;
    flex-shrink: 0;
    color: #000;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-top: 120%;
}

/*paginas criadas apos a criação inicial*/
.pageflux .imagem {
    width: 1728px;
    height: 1300px;
    background: url(../res/empresas/fluxo-atividades.png), rgba(211, 211, 211, 0) 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    flex-shrink: 0;

}

.page-lei {
    margin-top: -420px;
}

.matriz .swot:not(.titulo-matriz) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1728px;
    height: 1000px;
    background: url(../res/swot/sowt.jpeg)50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;

}

.matriz .titulo-matriz {
    position: absolute;
    margin-left: 500px;
    margin-top: 410px;
    color: #ffffff;
    background-color: rgba(30, 26, 26, 0.705);
    border-radius: 10px;
    padding: 10px;
    z-index: 1;

}

.matriz .matriz-swot {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.matriz-swot {
    color: white;
    font-weight: bold;
    z-index: 1;
    justify-content: center;
    margin-left: 150px;

}

.matriz-swot li {
    list-style: none;
    text-shadow: 1px 1px 2px rgba(4, 234, 255, 0.331);
}

.matriz-swot .forcas {
    align-items: center;
    width: 865px;
    height: 502px;
    margin-left: -150px;
    background: url(), rgba(210, 5, 5, 0.145) 50% / cover no-repeat;
    font-size: 25px;
    justify-content: center;
    z-index: 1;
    flex-shrink: 0
}

.matriz-swot .fraquezas {
    width: 865px;
    height: 502px;
    margin-left: 20;
    background: url(<path-to-image>), rgba(9, 34, 3, 0.469) 50% / cover no-repeat;
    font-size: 25px;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;


}

.matriz-swot .oportunidades {
    width: 865px;
    height: 500px;
    margin-left: -150px;
    background: url(<path-to-image>), rgba(12, 15, 222, 0.221) 50% / cover no-repeat;
    font-size: 25px;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;


}

.matriz-swot .ameacas {
    width: 865px;
    height: 500px;
    margin-left: 0;
    font-size: 25px;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;

}

.page-lei {
    width: 1728px;
    height: 1135px;
    background: url(../res/geral/incentivo.avif), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;

}

.leis {
    margin-top: 250px;

}

.lei h1 {
    margin-top: 500px;
    color: white;
    text-shadow: black 4px 4px;
}

.leis h3 {
    color: rgba(248, 243, 243, 0.914);
    font-size: 40px;

}

.need {

    width: 1920px;
    height: 1131px;
    background: url(../res/geral/question.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.need .titulo {
    color: white;
}

.need .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 8rem;
}

.need .box h3 {
    width: 600px;
    height: 150px;
    border-radius: 15px;
    background: #FFF;
    flex-shrink: 0;
    color: #000;
    font-family: Segoe UI Variable;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}

.decision {
    width: 100%;
    height: 150px;

    border: 1px solid #000000;

}

.decision .image {
    width: 100%;
    height: 50%;
    border: 1px solid red;
    margin-top: 25%;
    overflow-x: scroll;

}

