/* Contexto geral da pagina */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.container section {
    border: 1px solid green;
    margin-bottom: 50px;
    width: 98vw;
    height: 95vh;
    flex-shrink: 0;
    padding-top: 80px;


}

/* Definição da fonte dos titulos */
@font-face {
    font-family: font-dk;
    src: url('./fontes/Guardians.ttf') format('truetype');
}

/*Definições da pagina 1*/
.page1 {
    background: url(../res/geral/fundo-titulo.png), lightgray;
    background-repeat: no-repeat;
    background-size: 98vw 95vh;
    background-position: center;
  
}

.page1 .titulo h1 {
    position: absolute;
    color: #ffffffce;
    text-shadow: -20px 20px 5px rgba(0, 0, 0, 0.767);
    font-family: 'font-dk';
    font-size: 200px;
    margin-left: 500px;
    ;
    z-index: 2;
}

.page1 .icone {
    position: absolute;
    width: 500px;
    height: 600px;
    margin-left: 150px;
    margin-top: 70px;

    background: url(../res/geral/icone.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

}


/* Definições pagina 2 */
.page2 {
    display: flex;
    overflow: hidden;
    background-color: rgba(193, 193, 219, 0.432);
    flex-shrink: 0;

}

.page2 .sobre {
    position: absolute;
    margin-left: 5%;
    margin-top: -2%;
}

.page2 .sobre h1 {
    width: 500px;
    height: 59px;
    color: #000;
    text-shadow: -7px 2px 5px rgba(49, 48, 48, 0.411);
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 50px;
    font-weight: 800;
}

.page2 .sobre p {
    width: 802px;
    height: 124px;
    color: #171212;
    text-shadow: -7px 2px 5px rgba(49, 48, 48, 0.411);
    font-family: Abel;
    font-size: 23px;
    font-weight: 400;

}

.page2 .sobre span {
    font-family: Abel;
    font-size: 28px;
    font-weight: 600;
}

.fundamentos .img-astronauta {
    position: absolute;
    width: 700px;
    height: 98.3vh;
    margin-top: -35rem;
    margin-left: 61rem;
    background: url(../res/geral/astronauta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    flex-shrink: 0;
}

.page2 .fundamentos {
    position: absolute;
    display: flex;
    margin-left: 7rem;
    flex-shrink: 0;
}

.fundamentos .found {
    width: 230px;
    height: 300px;
    background: #0b1535c2;
    margin-left: 20px;
    font-size: 1px;
    box-shadow: -10px 6px 5px rgba(32, 32, 32, 0.377);
    border-radius: 5px;

}

/* missao */
.fundamentos .mission h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}

.fundamentos .mission p {
    width: 230px;
    font-size: 15px;
    color: white;
    text-indent: 1em;
}

.fundamentos .img-mission {
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 5px rgba(177, 177, 245, 0.384);
    margin-top: -80px;
    margin-left: 40px;
    background: url('../res/geral/missão.jfif');
    opacity: 0.9;
    background-size: cover;
    border-radius: 100%;

}

/* visão */
.fundamentos .vision p {
    width: 230px;
    font-size: 15px;
    color: white;
    text-indent: 1em;
}

.fundamentos .vision h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}

.fundamentos .img-vision {
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 5px rgba(177, 177, 245, 0.384);
    margin-top: -80px;
    margin-left: 40px;
    background: url(../res/geral/vision.png);
    opacity: 0.9;
    background-size: cover;
    border-radius: 100%;
}

/* valores */
.fundamentos .values p {
    width: 230px;
    font-size: 15px;
    color: white;
}

.fundamentos .values h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}

.fundamentos .img-values {
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 5px rgba(177, 177, 245, 0.384);
    margin-top: -80px;
    margin-left: 40px;
    background: url(../res/geral/valores.webp);
    opacity: 0.9;
    background-size: cover;
    border-radius: 100%;
}

/* paixão */
.fundamentos .paixao p {
    width: 230px;
    font-size: 15px;
    color: white;
    text-indent: 1em;
}

.fundamentos .img-paixao {
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 5px rgba(177, 177, 245, 0.384);
    margin-top: -80px;
    margin-left: 40px;
    background: url(../res/geral/paixao.jpg);
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.fundamentos .paixao h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}

/* razão */
.fundamentos .razao p {
    width: 230px;
    font-size: 15px;
    color: white;
    text-indent: 1em;
}

.fundamentos .img-razao {
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 5px rgba(177, 177, 245, 0.384);
    margin-top: -80px;
    margin-left: 40px;
    opacity: 0.9;
    background: url(../res/geral/razao.webp);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.fundamentos .razao h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}

/* proposito */
.fundamentos .proposito p {
    width: 230px;
    font-size: 15px;
    color: white;
    text-indent: 1em;
}

.fundamentos .img-proposito {
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 5px rgba(177, 177, 245, 0.384);
    margin-top: -80px;
    margin-left: 40px;
    background: url(../res/geral/proposito.jfif);
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.fundamentos .proposito h3 {
    width: 230px;
    font-size: 20px;
    color: white;
}

/* Definições pagina 3 */
/* Estilize a classe .page3 para que ocupe toda a seção */
.page3 {
    display: flex;
    justify-content: center;
    background-color: black;
}

.page3 .titulo {
    position: absolute;
    display: none;
}

/* Estilize a classe .video para que o vídeo ocupe toda a largura da seção */
.video {
    width: 100%;
    text-align: center;
}

/* Estilize o elemento de vídeo para que ele ocupe toda a largura da seção */
.video video {
    width: 85vw;
    height: 95vh;
    margin-top: 0.2rem;
    object-fit: cover;
    /* Isso faz com que o vídeo ocupe todo o espaço disponível sem distorcer */
}

/*Definição da pagina 4*/
.page4 {
    background: url(../res/swot/sowt.jpeg)50%;
    background-repeat: no-repeat;
    background-size: 98vw 95vh;
    background-position: center;
}


.page4 .titulo {
    color: white;
    font-size: 36px;
    margin-left: 40px;
    margin-top: -50px;

}


.matriz-swot h3 {
    margin-left: 25px;
    display: none;
}


.matriz-swot {

    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(17, 17, 17);
    font-weight: bold;
    font-size: 25px;
    z-index: 1;
    justify-content: center;
    margin-left: 150px;
    Margin-top: 50px;

}


.matriz-swot ul {
    list-style: none;
    line-height: 35px;
    text-shadow: -10px 5px 5px rgba(255, 255, 255, 0.603);
}

.matriz-swot li {
    background-color: rgba(204, 233, 223, 0.808);
    margin-top: 25px;
    text-align: center;
    border-radius: 7px;
}

.matriz-swot .baixo {
    margin-top: 5rem;

}

.matriz-swot .cima {
    margin-top: -5rem;
}


.matriz-swot .left {
    margin-left: -2rem;
}


.matriz-swot .right {
    margin-left: 10rem;
}



.forcas,
.fraquezas,
.oportunidades,
.ameacas {
    width: 600px;
    border-radius: 5px;
    margin-top: -40px;

}


/* Definições da pagina 5 */

.page5 {
    background: url(../res/geral/incentivo.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;

}

.leis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.lei h1 {

    color: white;
    font-size: 50px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.432);
}

.leis h3 {
    width: 80rem;
    text-align: center;
    color: rgba(248, 243, 243, 0.914);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.432);
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 7px;
}
.leis h3:hover {
    width: 80rem;
    text-align: center;
    color: rgba(248, 243, 243, 0.914);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.432);
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 7px;
}

.leis a{
    color:white;
    text-decoration: none;
}

.leis a:hover{
    color:rgb(253, 238, 238);
    font-size: 32px;
    text-decoration: none;
}


/*definições pagina 6*/
.page6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../res/empresas/tc-human.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.page6 .report1 {
    margin-top: 50px;
    margin-left: 10%;
    width: 800px;
    height: 300px;
    background: url(../res/whi/noticia-incentivo.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.page6 .report2 {
    width: 572px;
    height: 366px;
    margin-left: 25px;
    background: url(../res/whi/noticia-arcelor.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}

.page6 .report3 {
    width: 698px;
    height: 276px;
    border-radius: 15px;
    background: url(../res/whi/noticia-incentivo1.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}


.page6 .titulo h1 {
    width: 950px;
    height: 75px;
    flex-shrink: 0;
    color: #fffbfb;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}




/*Definições pagina 7*/
.page7 {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: url(/res/geral/organograma.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.page7 .corpo-setor {
    width: 600px;
    height: 500px;
    color: white;
    font-size: 30px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 255, 0);
    text-align: justify;
    background-color: rgba(89, 90, 90, 0.877);

}

.page7 .titulo-setor {
    color: white;
    margin-top: 150px;
    margin-left: 10px;
    /* border: 1px solid blue; */
    border-bottom: 2px solid white;
    text-align: center;
    background-color: rgba(109, 103, 83, 0.973);
}

.corpo-setor h3 {
    width: 90%;
    margin-left: 15px;
}

.corpo-setor h3:hover {
    width: 90%;
    margin-left: 15px;
    background-color: rgba(109, 103, 83, 0.973);
}

.page7 h1 {
    font-size: 36px;
}


/*Definições pagina 8*/
.page8 {
    display: flex;
    flex-direction: row;
    background: url(../res/geral/uviverse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}


.page8 .gov {
    width: 600px;
    height: 800px;
    border-radius: 15px;
    line-height: normal;
    background: #1b2838e3;
    flex-shrink: 0;
    margin-right: 5px;
    margin-left: 14rem;
    margin-top: 0px;
}

.page8 h1 {
    font-size: 40px;
    text-align: center;
}

.page8 h5 {
    font-size: 28px;
    text-align: center;
}


.gov .equipe .pessoal {
    display: flex;
    color: white;
    margin-bottom: 10px;
}

.equipe .user {
    width: 50px;
    height: 50px;
    background: url(../res/governança/user-default.png), rgba(211, 211, 211, 0);
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 10%;
    z-index: 0;
}

.equipe .pessoal .funcao {
    margin-top: 10px;
    margin-left: 30px;
}

.pessoal .funcao span {

    padding-left: 90px;
    padding-right: 0;
    padding-bottom: 10px;
    margin-left: -80px;
    font-size: 27px;
    color: rgb(213, 202, 131);
    z-index: 1;
}

.page8 .funcao p {
    font-size: 22px;
    margin-left: 1rem;
}

.gov .gestor {
    color: white;
    line-height: 1px;
}


.page8 .Oscar {
    display: flex;
}

.page8 .oscar .user {
    width: 100px;
    height: 100px;
    background: url(../res/governança/user-default.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}



/* definições da pagina 9 */

.page9 {
    display: flex;
    background: url(../res/metas/fundoprojeção.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;

}



.page9 .time {
    width: 500px;
    height: 600px;
    margin-top: 5%;
    margin-left: 3%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.568);
    flex-shrink: 0;
    color: white;
}

.page9 .time .titulo {
    width: 250px;
    border-radius: 5px;
    background-color: #FB9804;
    flex-shrink: 0;
    margin-left: 25%;
    margin-bottom: 100px;
    text-align: center;

}

.time .titulo h1 {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;

}

.page9 .projetos {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 50px;

}

.page9 .projetos {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 50px;

}


/*ano 1*/
.ano1 .projetos .imagem1 {
    width: 60px;
    height: 60px;
    background: url(../res/metas/quedazero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.ano1 .projetos .imagem2 {
    width: 60px;
    height: 60px;
    background: url(../res/metas/sdo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.ano1 .projetos .imagem3 {
    width: 60px;
    height: 60px;
    background: url(../res/metas/equipe-agil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}


/*ano 2*/
.ano2 .projetos .imagem1 {
    width: 60px;
    height: 60px;
    background: url(../res/metas/espaço.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.ano2 .projetos .imagem2 {
    width: 60px;
    height: 60px;
    background: url(../res/metas/sds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.ano2 .projetos .imagem3 {
    width: 60px;
    height: 60px;
    background: url(../res/metas/pulse.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}


/*ano 3*/
.ano3 .projetos .imagem1 {
    width: 60px;
    height: 60px;
    background: url(../res/metas/software-propietario.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.ano3 .projetos .imagem2 {
    width: 60px;
    height: 60px;
    background: url(../res/metas/expand.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.ano3 .projetos .imagem3 {
    width: 60px;
    height: 60px;
    background: url(../res/metas/plataforma-cursos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}


.projetos {

    margin-top: 100px;
}

.projetos .descricao {
    margin-left: 20px;
    margin-top: 10px;
}



/* descrição da pagina 10 */
.page10 {
    background: url(../res/layout/fundo_espaço.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;

}




.page10 .titulo {
    width: 700px;
    height: 69px;
    flex-shrink: 0;
    color: #000;
    font-family: Post No Bills Jaffna ExtraBold;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}



.page10 .locais {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}


.page10 .space {
    width: 400px;
    height: 300px;
    margin-top: 1rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.568);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.30);
    background: #ffffff6b;
    flex-shrink: 0;
}


/*local 1*/
.page10 .sala1 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/pesquisa-inovação.jpg), lightgray 50%;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page10 .sala1 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/layout/pesquisa.png), lightgray 50% / no-repeat;
    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}

/*local 2*/
.page10 .sala2 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/sala-colaborativa-de-soft.jpg), lightgray 50%;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page10 .sala2 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}

/*local 3*/
.page10 .sala3 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/focus.jpg), lightgray 50%;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page10 .sala3 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}


/*local 4*/
.page10 .sala4 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/descanso.jpeg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page10 .sala4 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}


/*local 5*/
.page10 .sala5 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/dikma-tec.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page10 .sala5 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;

    background-position: 50%;
    background-size: 35dvb;
    flex-shrink: 0;
}


/*local 6*/
.page10 .sala6 .local {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    background: url(../res/espacos/design-thinking.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    flex-shrink: 0;
}

.page10 .sala6 .local:hover {
    width: 324px;
    height: 200px;
    border-radius: 10px;

    background-position: 50%;
    background-size: 200%;
    flex-shrink: 0;
}


.page10 .local {
    margin-left: 11%;
    margin-top: 10%;
}

.page10 .space .nome {
    width: 379px;
    height: 50px;
    flex-shrink: 0;
    color: #000;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}


.page10 .exibir {
    display: none;
    position: absolute;
    background-color: rgba(123, 134, 187, 0.871);
    margin-left: 0.1rem;
    width: 98vw;
    height: 95vh;
}


.exibir h5 {
    width: 20px;
    font-size: 25px;
    margin-left: 20px;
    color: red;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.055);
    cursor: pointer;
}

.exibir .imagem {
    width: 800px;
    height: 600px;
    margin-left: 25%;

}


/* Definições pagina 12 */

.page12 {
    background: url(../res/geral/question.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.page12 .titulo {
    color: white;
    font-size: 36px;
}

.page12 .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7rem;
    margin-left: 8rem;
}

.page12 .box h3 {
    width: 600px;
    height: 100px;
    border-radius: 15px;
    background: #FFF;
    flex-shrink: 0;
    color: #000;
    font-family: Segoe UI Variable;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    text-align: center;

}




/*definições pagina 13*/

.page13 .estrutura{
    border:1px solid black;
}

.page13 .semestres .semestre, .acumulado {
    display:flex;
    
}

.page13 .semestres .semestre li, .acumulado li{
    margin-left: 50px;
    list-style: none;
}

.page13 .semestres .acumulado .title{
    font-weight: bold;
    font-size:20px;
}


/* ocultando todas as paginas, organização */

/*Estilo do menu*/
.menu .box-menu {
    width: 115.1rem;
    height: 48px;
    display: flex;
    -ms-flex-align: center;
    position: fixed;
    top: -15px;
    left:17px;
    text-align: center;
    align-items: center;
    border:1px solid red;
    background-color: #050505;

}

.box-menu li {
    margin-top:1px;
    font-size: 19px;
    padding:10px 30px 10px 30px;
    list-style-type: none;
}
.box-menu li:hover {
    margin-top:1px;
    background-color: #302f2f;
    padding:10px 30px 10px 30px;
    list-style-type: none;
}

.box-menu li a{
    color:rgb(199, 195, 195);
    font-size: 18px;
    text-decoration: none;
}
.box-menu li a:hover{
    color:white;
    font-size: 19px;
    text-decoration: none;
}


.box-menu li:not(.first){
    border-left:1px solid rgb(255, 255, 255);
} 



.page14 {
    display: none;
}